@model AppleStore.Models.Entities.ProductVariant
@{
    var productAttributes = (IEnumerable<ProductAttribute>?)ViewData["productAttributes"];
    ViewData["Title"] = "CreateVariant";
}

<h5 class="card-title fw-semibold mb-4 d-inline-block">CHỈNH SỬA CHI TIẾT SẢN PHẨM</h5>
<form asp-action="EditVariant" asp-route-variantId="@ViewBag.VariantId" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" asp-for="Price"></label>
        <input type="text" class="form-control" asp-for="Price" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Quantity"></label>
        <input type="text" class="form-control" asp-for="Quantity" />
    </div>
    <div class="row">
        @foreach (var item in productAttributes)
        {
            var value = new SelectList(item.ProductAttributeValues, "Id", "Name");
            <div class="col-12 col-md-4">
                <div class="mb-3">
                    <label class="form-label">@item.Name</label>
                    <select asp-for="@Model.VariantsAttributes.FirstOrDefault(p => p.ProductAttributeValue.ProductAttributeId == item.Id).ProductAttributeValueId" class="form-control form-select" asp-items="value">
                        <option value="0">Không chọn</option>
                    </select>
                    <input type="hidden" asp-for="@Model.VariantsAttributes.FirstOrDefault(p => p.ProductAttributeValue.ProductAttributeId == item.Id).ProductVariantId" />
                </div>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Sửa</button>
    <a asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-secondary">Trở về</a>
    </div>
</form>

@section Scripts {
    <script>
        window.onload = function () {
            var selectElements = document.querySelectorAll("select[multiple]");
            selectElements.forEach(function (selectElement) {
                selectElement.removeAttribute("multiple");
            });
        };
        $(document).ready(function () {
            $('#colorSelect').change(function () {
                var selectedColor = $(this).children("option:selected").text();
                $('#colorDisplay').css('background-color', selectedColor);
            });
        });
    </script>
}