@model IEnumerable<AppleStore.Models.Entities.Product>

@{
    ViewData["Title"] = "Trang chủ";
}

<!-- Start Hero Area -->
<partial name="_NewsPartial" />
<!-- End Hero Area -->

<!-- Start Trending Product Area -->
<section class="trending-product section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Sản phẩm bán chạy</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="single-product">
                            <div class="product-image">
                                <img src="/images/products/@item.Avatar" alt="@item.Name">
                                @if (item.DiscountId != null)
                                {
                                    string discount = "";
                                    if (item.Discount.Percent != 0)
                                    {
                                        discount = item.Discount.Percent + "%";
                                    }
                                    else
                                    {
                                        discount = discount = item.Discount.Price.ToString("#,##0") + "đ";
                                    }
                                    <span class="sale-tag">-@discount</span>
                                }
                                <div class="button">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="btn"><i
                                            class="lni lni-cart"></i>Thêm giỏ hàng</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <span class="category">@item.Category.Name</span>
                                <h4 class="title">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                </h4>
                                <div class="price">
                                    <span>
                                        @{
                                            string price = "0đ";
                                            if (item.ProductVariants != null && item.ProductVariants.Count() != 0)
                                            {
                                                price = item.ProductVariants.Min(p => p.Price).ToString("#,##0") + "đ";
                                            }
                                        }
                                        @price
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Start Shipping Info -->
<section class="shipping-info">
    <div class="container">
        <ul>
            <!-- Free Shipping -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-delivery"></i>
                </div>
                <div class="media-body">
                    <h5>Miễn phí giao hàng</h5>
                    <span>Cho hoá đơn chỉ từ 1,000,000đ</span>
                </div>
            </li>
            <!-- Money Return -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-support"></i>
                </div>
                <div class="media-body">
                    <h5>Hỗ trợ 24/7.</h5>
                    <span>Trao đổi trực tiếp hoặc liên hệ.</span>
                </div>
            </li>
            <!-- Support 24/7 -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-credit-cards"></i>
                </div>
                <div class="media-body">
                    <h5>Thanh toán trực tuyến.</h5>
                    <span>Dịch vụ bảo mật thanh toán.</span>
                </div>
            </li>
            <!-- Safe Payment -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-reload"></i>
                </div>
                <div class="media-body">
                    <h5>Trả hàng & hoàn tiền.</h5>
                    <span>Hỗ trợ bảo hành nhanh chóng.</span>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- End Shipping Info -->