@model AppleStore.Models.Entities.Order;
@{
    ViewData["Title"] = "Print Invoices";
}

<div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4" style="margin: auto; width: 1000px;">
    <div class="card invoice-preview-card" style="border: 1px solid rgba(0, 0, 0, 0.1); font-size: large;">
        <div class="card-body">
            <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0"
            style="align-items: center;">
                <div class="mb-xl-0 mb-4" style="text-align: center;">
                    <div class="d-flex svg-illustration mb-3 gap-2">
                        <span class="app-brand-logo demo">
                            <img src="~/Logo-Horizontal.png" alt="Alternate Text" width="160px" />
                        </span>
                    </div>
                    <div style="color: #1116dcab !important; font-weight: 700; font-size: 20px;">
                        <p class="mb-1">HÓA ĐƠN</p>
                        <p class="mb-1">SMART SHOPPING</p>
                    </div>
                </div>
                <div style="text-align: center;">
                    <h4>Hóa Đơn Số # @Model.Id</h4>
                    <div class="mb-2">
                        <span class="me-1">Ngày đặt hàng:</span>
                        <span class="fw-medium">@Model.CreatedAt</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="card-body">
            <div class="row p-sm-3 p-0" style="line-height: 40px">
                <div class="col-xl-6 col-md-12 col-sm-5 col-12 mb-xl-0 mb-md-4 mb-sm-0 mb-4">
                    <h6 class="pb-2" style="font-size: 18px;font-weight: 700;color: #5a6a85;">
                        Từ:
                    </h6>
                    <p class="mb-1">Cửa hàng bán sản phẩm Apple chính hãng</p>
                    <p class="mb-1">KCN cao, TP. Thủ Đức trực thuộc TP. HCM</p>
                    <p class="mb-1">contact@smartshopping.com</p>
                    <p class="mb-1">SĐT: 0339xxx697</p>
                </div>
                <div class="col-xl-6 col-md-12 col-sm-7 col-12">
                    <h6 class="pb-2" style="font-size: 18px;font-weight: 700;color: #5a6a85;">Đến:</h6>
                    <table>
                        <tbody>
                            <tr>
                                <td>Họ và tên: @Model.ApplicationUser?.FullName</td>
                            </tr>
                            <tr>
                                <td>Địa chỉ giao hàng: @Model.ApplicationUser?.Address</td>
                            </tr>
                            <tr>
                                <td>Email: @Model.ApplicationUser?.Email</td>
                            </tr>
                            <tr>
                                <td>Số điện thoại: @Model.ApplicationUser?.PhoneNumber</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table border-top m-0">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Màu sắc</th>
                        <th>Dung lượng</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model?.OrderDetails != null)
                    {
                        @foreach(var item in Model.OrderDetails)
                        {
                            <tr>
                                <td class="text-nowrap">@item.ProductVariant?.Product?.Name</td>
                                <td class="text-nowrap">@ViewBag.Color</td>
                                <td class="text-nowrap">@ViewBag.Storage</td>
                                <td>@($"{item.Price:#,##0}đ")</td>
                                <td>@item.Quantity</td>
                                <td>@($"{(item.Quantity * item.Price):#,##0}đ")</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="3" class="align-top px-4 py-5">
                            <p class="mb-2">
                                <span class="me-1 fw-medium">Người gửi:</span>
                                <span>Bùi Hoàng Việt</span>
                            </p>
                            <span>Chân thành cám ơn !</span>
                        </td>
                        <td class="text-end px-4 py-5">
                            <p class="mb-2">Tạm tính:</p>
                            <p class="mb-2">Giảm giá:</p>
                            <p class="mb-2">Thuế:</p>
                            <p class="mb-0">Tổng cộng:</p>
                        </td>
                        <td class="px-4 py-5">
                            <p class="fw-medium mb-2">@($"{(ViewBag.SubTotal):#,##0}đ")</p>
                            <p class="fw-medium mb-2">@($"{ViewBag.Discount:#,##0}đ")</p>
                            <p class="fw-medium mb-2">@($"{(ViewBag.Tax):#,##0}đ")</p>
                            <p class="fw-medium mb-0">@($"{(ViewBag.Total):#,##0}đ")</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-body" style="text-align:center;">
            <div class="row">
                <div class="col-12">
                    <span class="fw-medium">Cảm ơn bạn vì đã tin tưởng và ủng hộ chúng tôi. Chúc bạn một ngày thật tốt lành!</span>
                </div>
            </div>
        </div>
    </div>
</div>