@model AppleStore.Models.Entities.Product

@{
    ViewData["Title"] = Model.Name;
    var productVariant = (ProductVariant)ViewData["productVariant"]!;
    var colors = (List<VariantsAttributes>?)ViewData["detailsColorList"];
    var storages = (List<VariantsAttributes>?)ViewData["detailsStorageList"];

    var colorId = 0;
    var storageId = 0;
}
<!-- Start Item Details -->
<section class="item-details section pt-3">
    <div class="container">
        <div class="top-area d-flex">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <img src="~/images/products/@Model.Avatar" id="current" alt="@Model.Name">
                            </div>
                            <div class="images">
                                @foreach (var item in Model.ProductImages)
                                {
                                    <img src="~/images/product-details/@item.ImageUrl" class="img" alt="#">
                                }
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 h-100">
                    <div class="product-info mt-5 px-3">
                        <h2 class="title">@Model.Name</h2>
                        <p class="category">
                            <i class="lni lni-tag"></i> Category:<a href="javascript:void(0)">
                                @Model.Category.Name
                            </a>
                        </p>
                        @* <h3 class="price">@($"{Model.ProductVariants.FirstOrDefault()?.Price:#,##0}đ")<span>$945</span></h3>
                        <div class="form-group color-option">
                            <label class="title-label">Màu sắc</label>
                            @if (colors != null)
                            {
                                @foreach (var color in colors)
                                {
                                    if (color == null) continue;
                                    var check = productVariant.VariantsAttributes!.FirstOrDefault(f => f.ProductAttributeValueId == color.ProductAttributeValue.Id) != null ? "checked" : "";
                                    if (!string.IsNullOrEmpty(check)) colorId = color.ProductAttributeValue.Id;
                                    <div class="form-check color-item m-0 p-0 me-1 form-check-inline">
                                        <input type="radio" class="select-color" name="color-options" style="color: @color.ProductAttributeValue.Value;" id="color-@color.ProductAttributeValue.Id" value="@color.ProductAttributeValue.Id" @check onclick="SelectColor();" />
                                    </div>
                                }
                            }
                        </div>
                        <div class="form-group color-option">
                            <label class="title-label">Dung lượng</label>
                            @if (storages != null)
                            {
                                @foreach (var storage in storages)
                                {
                                    if (storage == null) continue;
                                    var check = productVariant.VariantsAttributes!.FirstOrDefault(f => f.ProductAttributeValueId == storage.ProductAttributeValue.Id) != null ? "checked" : "";
                                    if (!string.IsNullOrEmpty(check)) storageId = storage.ProductAttributeValue.Id;
                                    <input type="radio" class="btn-check d-block select-storage" name="storage-options" id="storage-@storage.ProductAttributeValue.Id" autocomplete="off" value="@storage.ProductAttributeValue.Id" @check onclick="SelectStorage();" />
                                    <label class="btn btn-outline-success" for="storage-@storage.ProductAttributeValue.Id">@storage.ProductAttributeValue.Value</label>
                                }
                            }
                        </div> *@
                        <div id="productPrice"></div>
                        <div class="form-group color-option">
                            <label class="title-label">Màu sắc</label>
                            @if (colors != null)
                            {
                                if(colors.Count > 0)
                                {
                                    var firstColor = colors.First();
                                    @foreach (var color in colors)
                                    {
                                        if (color == null) continue;
                                        var check = color.ProductVariant.VariantsAttributes!.FirstOrDefault(f => f.ProductAttributeValueId == firstColor.ProductAttributeValueId) != null ? "checked" : "";
                                        <div class="form-check color-item m-0 p-0 me-1 form-check-inline">
                                            <input type="radio" class="select-color" name="color-options" style="color: @color.ProductAttributeValue.Value;" value="@color.ProductAttributeValueId" @(check) />
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <div class="form-group color-option">
                            <label class="title-label">Dung lượng</label>
                            <div id="storages"></div>
                            @* @if (storages != null)
                            {
                                @foreach (var storage in storages)
                                {
                                    if (storage == null) continue;
                                    <input type="radio" class="btn-check d-block select-storage" name="storage-options" id="storage-@storage.ProductAttributeValue.Id" autocomplete="off" value="@storage.ProductAttributeValue.Id" />
                                    <label class="btn btn-outline-success" for="storage-@storage.ProductAttributeValue.Id">@storage.ProductAttributeValue.Value</label>
                                }
                            } *@
                        </div>
                        <div class="bottom-content">
                            <div class="row align-items-end">
                                <div class="col-lg-7 col-md-7 col-12">
                                    <div class="button cart-button">
                                        <button class="btn" style="width: 100%;">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-12 p-0">
                                    <div class="wish-button">
                                        <button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-details-info">
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-body custom-responsive-margin">
                            <h4>Details</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                            <h4>Features</h4>
                            <ul class="features">
                                <li>Capture 4K30 Video and 12MP Photos</li>
                                <li>Game-Style Controller with Touchscreen</li>
                                <li>View Live Camera Feed</li>
                                <li>Full Control of HERO6 Black</li>
                                <li>Use App for Dedicated Camera Operation</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="info-body">
                            <h4>Specifications</h4>
                            <ul class="normal-list">
                                <li><span>Weight:</span> 35.5oz (1006g)</li>
                                <li><span>Maximum Speed:</span> 35 mph (15 m/s)</li>
                                <li><span>Maximum Distance:</span> Up to 9,840ft (3,000m)</li>
                                <li><span>Operating Frequency:</span> 2.4GHz</li>
                                <li><span>Manufacturer:</span> GoPro, USA</li>
                            </ul>
                            <h4>Shipping Options:</h4>
                            <ul class="normal-list">
                                <li><span>Courier:</span> 2 - 4 days, $22.50</li>
                                <li><span>Local Shipping:</span> up to one week, $10.00</li>
                                <li><span>UPS Ground Shipping:</span> 4 - 6 days, $18.00</li>
                                <li><span>Unishop Global Export:</span> 3 - 4 days, $25.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="single-block give-review">
                        <h4>4.5 (Overall)</h4>
                        <ul>
                            <li>
                                <span>5 stars - 38</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                            </li>
                            <li>
                                <span>4 stars - 10</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                            </li>
                            <li>
                                <span>3 stars - 3</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                            </li>
                            <li>
                                <span>2 stars - 1</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                            </li>
                            <li>
                                <span>1 star - 0</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                            </li>
                        </ul>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn review-btn" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Leave a Review
                        </button>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="single-block">
                        <div class="reviews">
                            <h4 class="title">Latest Reviews</h4>
                            <!-- Start Single Review -->
                            <div class="single-review">
                                <img src="~/assets/images/blog/comment1.jpg" alt="#">
                                <div class="review-info">
                                    <h4>
                                        Awesome quality for the price
                                        <span>
                                            Jacob Hammond
                                        </span>
                                    </h4>
                                    <ul class="stars">
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                    </ul>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor...
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Review -->
                            <!-- Start Single Review -->
                            <div class="single-review">
                                <img src="~/assets/images/blog/comment2.jpg" alt="#">
                                <div class="review-info">
                                    <h4>
                                        My husband love his new...
                                        <span>
                                            Alex Jaza
                                        </span>
                                    </h4>
                                    <ul class="stars">
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star"></i></li>
                                    </ul>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor...
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Review -->
                            <!-- Start Single Review -->
                            <div class="single-review">
                                <img src="~/assets/images/blog/comment3.jpg" alt="#">
                                <div class="review-info">
                                    <h4>
                                        I love the built quality...
                                        <span>
                                            Jacob Hammond
                                        </span>
                                    </h4>
                                    <ul class="stars">
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                    </ul>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor...
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Review -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Item Details -->
<!-- Review Modal -->
<div class="modal fade review-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-name">Your Name</label>
                            <input class="form-control" type="text" id="review-name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-email">Your Email</label>
                            <input class="form-control" type="email" id="review-email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-subject">Subject</label>
                            <input class="form-control" type="text" id="review-subject" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-rating">Rating</label>
                            <select class="form-control" id="review-rating">
                                <option>5 Stars</option>
                                <option>4 Stars</option>
                                <option>3 Stars</option>
                                <option>2 Stars</option>
                                <option>1 Star</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="review-message">Review</label>
                    <textarea class="form-control" id="review-message" rows="8" required></textarea>
                </div>
            </div>
            <div class="modal-footer button">
                <button type="button" class="btn">Submit Review</button>
            </div>
        </div>
    </div>
</div>
<!-- End Review Modal -->
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const current = document.getElementById("current");
            const opacity = 0.6;
            const imgs = document.querySelectorAll(".img");
            imgs.forEach(img => {
                img.addEventListener("click", (e) => {
                    imgs.forEach(img => {
                        img.style.opacity = 1;
                    });
                    current.src = e.target.src;
                    e.target.style.opacity = opacity;
                });
            });
            updateStorages(@Model.Id, @colors[0].ProductAttributeValue.Id);

        });
        if (@colors.Count() > 0) {
            $(document).ready(function () {
                $(document).on("change", ".select-color", function () {
                    var _colorId = parseInt($(this).val());
                    updateStorages(@Model.Id, _colorId);
                });
                $(document).on("change", ".select-storage", function () {
                    var _storageId = parseInt($(this).val());
                    storageId = _storageId;
                    updatePrice(@Model.Id, colorId, storageId);
                });
            });
        }

        function updatePrice(productId, _colorId, _storageId) {
            $.ajax({
                type: "GET",
                url: `/Products/GetPrices?productId=${@Model.Id}&colorId=${_colorId}&storageId=${_storageId}`,
                success: function (data) {
                    $("#productPrice").html(data);
                }
            });
        }
        function updateStorages(productId, _colorId) {
            colorId = _colorId;
            $.ajax({
                type: "GET",
                url: `/Products/GetStorages?productId=${@Model.Id}&colorId=${colorId}`,
                success: function (data) {
                    $("#storages").html(data);
                    $('input[name=options-outlined]:first').prop('checked', true);
                }
            });
        }
    </script>
}