@using AppleStore.Helpers
@using AppleStore.Models.Entities
@using X.PagedList
@using X.PagedList.Mvc.Core
@using static AppleStore.Helpers.HtmlHelpers
@{
    ViewData["Title"] = "Danh sách sản phẩm";
    var pagedProducts = Model as IPagedList<Product>;
    var currentPage = ViewBag.Page;
    var pageSize = ViewBag.PageSize;
    var totalProducts = ViewBag.TotalProducts;
    var startItem = (currentPage - 1) * pageSize + 1;
    var endItem = currentPage * pageSize;
    endItem = (endItem > totalProducts) ? totalProducts : endItem;
    var htmlHelper = Html as IHtmlHelper<dynamic>;
}
<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <!-- Start Product Sidebar -->
                <div class="product-sidebar">
                    <!-- Start Single Widget -->
                    <div class="single-widget search">
                        <h3>Tìm kiếm</h3>
                        <form method="get" asp-action="Index" id="formProduct">
                            <input type="text" placeholder="Tìm kiếm..." value="@ViewBag.CurrentName"
                                id="searchName2" oninput="updateSearchName1()">
                            <input type="hidden" name="name" id="name" value="@ViewBag.CurrentName" />
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                        <h3>Danh mục</h3>
                        <ul class="list">
                            @foreach (var category in ViewBag.CategoryCounts)
                            {
                                <li>
                                    <a asp-action="Index" asp-route-name="@ViewBag.CurrentName"
                                        asp-route-Pricefrom="@ViewBag.CurrentPriceFrom"
                                        asp-route-CategoryId="@ViewBag.CurrentCategoryId"
                                        asp-route-sortOrder="@ViewBag.CurrentSortOrder"
                                        asp-route-CategoryIdShow="@category.CategoryId">
                                        @category.CategoryName (@category.Count)
                                    </a>
                                </li>
                            }
                        </ul>


                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <form method="get" asp-action="Index" id="formProduct">
                        <div class="single-widget range">
                            <h3>Giá tiền</h3>
                            <input type="range" class="form-range" name="Pricefrom" step="10" min="0" max="1000"
                                value="@ViewBag.CurrentPriceFrom" onchange="this.form.submit()">
                            <div class="range-inner">
                                <label>$</label>
                                <input type="text" placeholder="0" id="rangePrimary"
                                    style="width: 50px; border: 1px solid #ccc; padding: 6px; background-color: #f9f9f9; border-radius: 4px;"
                                    value="@ViewBag.CurrentPriceFrom">
                            </div>
                        </div>
                    </form>



                    <!-- End Single Widget -->
                </div>
                <!-- End Product Sidebar -->
            </div>
            <div class="col-lg-9 col-12">
                <div class="product-grids-head">
                    <div class="product-grid-topbar">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8 col-12">
                                <div class="product-sorting">
                                    <form method="get" asp-action="Index" id="formProduct">
                                        <label for="sorting">Sort by:</label>
                                        <select class="form-control" id="sorting" name="sortOrder"
                                            onchange="this.form.submit()">
                                            @if (ViewBag.CurrentSortOrder == null)
                                            {
                                                <option selected disabled hidden>Default</option>
                                            }
                                            else
                                            {
                                                <option disabled hidden>Default</option>
                                            }
                                            <!option value="name_asc" @(ViewBag.CurrentSortOrder == "name_asc" ? "selected"
                                                : "")>A - Z</!option>
                                            <!option value="name_desc" @(ViewBag.CurrentSortOrder == "name_desc" ?
                                                "selected" : "")>Z - A</!option>
                                            <!option value="price_asc" @(ViewBag.CurrentSortOrder == "price_asc" ?
                                                "selected" : "")>Low - High Price</!option>
                                            <!option value="price_desc" @(ViewBag.CurrentSortOrder == "price_desc" ?
                                                "selected" : "")>High - Low Price</!option>
                                        </select>
                                        <h3 class="total-show-product">Showing: <span>@startItem - @endItem items</span>
                                        </h3>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-12">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-grid-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-grid" type="button" role="tab" aria-controls="nav-grid"
                                            aria-selected="true">
                                            <i class="lni lni-grid-alt"></i>
                                        </button>
                                        <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list"
                                            aria-selected="false">
                                            <i class="lni lni-list"></i>
                                        </button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                            aria-labelledby="nav-grid-tab">
                            <div class="row">
                                @{
                                    int index = 0; // Khởi tạo chỉ số cho danh sách giá nhỏ nhất
                                }

                                @foreach (var product in pagedProducts)
                                {
                                    if (ViewBag.CategoryIdShow == 0 || product.CategoryId == ViewBag.CategoryIdShow)
                                    {
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="single-product">
                                                <div class="product-image">
                                                    <img src="@Url.Content($"~/images/products/{product.Avatar}")"
                                                        alt="@product.Name">
                                                    <div class="button">
                                                        <a href="@Url.Action("Details", "Products", new { id = product.Id })"
                                                            class="btn">
                                                            <i class="lni lni-eye"></i>Xem chi tiết
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-info">
                                                    <span class="category">@product.Category.Name</span>
                                                    <h4 class="title">
                                                        <a
                                                            href="@Url.Action("ProductGrids", "Products", new { id = product.Id })">@product.Name</a>
                                                    </h4>
                                                    <div class="price">
                                                        <span>@($"{ViewBag.MinPrices[index]:#,##0}đ")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        index++;
                                    }
                                    else
                                    {
                                        index++;
                                    }
                                }

                            </div>
                            @{
                                var pageUrlDelegate = new PageUrlDelegate(page => Url.Action("Index", new
                                {
                                    page,
                                    name = ViewBag.CurrentName,
                                    Pricefrom = ViewBag.CurrentPriceFrom,
                                    CategoryId = ViewBag.CurrentCategoryId,
                                    sortOrder = ViewBag.CurrentSortOrder,
                                    CategoryIdShow = ViewBag.CategoryIdShow
                                }));
                            }

                            @HtmlHelpers.CustomPagedListPager(Html, Model, pageUrlDelegate)
                        </div>
                        <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                            <div class="row">

                                @{
                                    index = 0; // Khởi tạo chỉ số cho danh sách giá nhỏ nhất
                                }

                                @foreach (var product in Model)
                                {
                                    if (ViewBag.CategoryIdShow == 0 || product.CategoryId == ViewBag.CategoryIdShow)
                                    {
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <!-- Start Single Product -->
                                            <div class="single-product">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-4 col-md-4 col-12">
                                                        <div class="product-image">
                                                            <img src="@Url.Content($"~/images/products/{product.Avatar}")"
                                                                alt="@product.Name">
                                                            <div class="button">
                                                                <a href="@Url.Action("Details", "Products", new { id = product.Id })"
                                                                    class="btn">
                                                                    <i class="lni lni-cart"></i> Thêm giỏ hàng
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-12">
                                                        <div class="product-info">
                                                            <span class="category">@product.Category.Name</span>
                                                            <h4 class="title">
                                                                <a
                                                                    href="@Url.Action("Details", "Products", new { id = product.Id })">@product.Name</a>
                                                            </h4>
                                                            <div class="price">
                                                                <span>@($"{ViewBag.MinPrices[index]:#,##0}đ")</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        index++;
                                    }
                                    else
                                    {
                                        index++;
                                    }
                                }
                                <!-- End Single Product -->
                            </div>
                            @{
                                pageUrlDelegate = new PageUrlDelegate(page => Url.Action("Index", new
                                {
                                    page,
                                    name = ViewBag.CurrentName,
                                    Pricefrom = ViewBag.CurrentPriceFrom,
                                    CategoryId = ViewBag.CurrentCategoryId,
                                    sortOrder = ViewBag.CurrentSortOrder,
                                    CategoryIdShow = ViewBag.CategoryIdShow
                                }));
                            }

                            @HtmlHelpers.CustomPagedListPager(Html, Model, pageUrlDelegate)
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

</section>


@section Scripts {
    <script>
        function updateSearchName2() {
            var searchName1Value = document.getElementById("searchName1").value;
            document.getElementById("searchName2").value = searchName1Value;

        }
        function updateSearchName1() {
            var searchName2Value = document.getElementById("searchName2").value;
            document.getElementById("searchName1").value = searchName2Value;
        }
        document.getElementById('formProduct').addEventListener('submit', function () {
            // Lấy giá trị từ searchName1, nếu không có thì lấy từ searchName2
            var searchValue = document.getElementById('searchName1').value || document.getElementById('searchName2').value;
            // Gán giá trị cho trường 'name'
            document.getElementById('name').value = searchValue;
            console.log('SEARCHHHHHHH:', searchValue, document.getElementById('name').value); // Check if the correct value is being captured
        });
        document.getElementById('rangePrimary').addEventListener('keypress', function (event) {
            // Nếu phím Enter được ấn (mã phím 13)
            if (event.key === 'Enter') {
                // Ngăn chặn hành động mặc định của phím Enter (ví dụ: submit form)
                event.preventDefault();
                // Lấy giá trị mới từ input text
                var newValue = parseInt(this.value);
                // Cập nhật giá trị của input range
                document.querySelector('input[name="Pricefrom"]').value = newValue;
                // Submit form nếu cần
                this.form.submit();
            }
        });
    </script>
}