﻿@using AppleStore.Models.Entities
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var pagedProducts = Model as IPagedList<Product>;
    var currentPage = ViewBag.Page;
    var pageSize = ViewBag.PageSize;
    var totalProducts = ViewBag.TotalProducts;
    var startItem = (currentPage - 1) * pageSize + 1;
    var endItem = currentPage * pageSize;
    endItem = (endItem > totalProducts) ? totalProducts : endItem;
    var options = new PagedListRenderOptions
            {
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayLinkToIndividualPages = true,
                DisplayPageCountAndCurrentLocation = false,
                MaximumPageNumbersToDisplay = 5,
                DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                EllipsesFormat = "&#8230;",
                LinkToFirstPageFormat = "««",
                LinkToPreviousPageFormat = "«",
                LinkToNextPageFormat = "»",
                LinkToLastPageFormat = "»»",
                PageCountAndCurrentLocationFormat = "Page {0} of {1}.",
                ItemSliceAndTotalFormat = "Showing items {0} through {1} of {2}.",
                FunctionToDisplayEachPageNumber = null,
                ClassToApplyToFirstListItemInPager = "first",
                ClassToApplyToLastListItemInPager = "last",
                ContainerDivClasses = new[] { "pagination", "left" },
                UlElementClasses = new[] { "pagination-list" },
                LiElementClasses = new[] { "page-item" }, // Thêm class này cho mỗi li
                PageClasses = new[] { "page-link" }
            };
}
<!-- Start Product Grids -->
<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <!-- Start Product Sidebar -->
                <div class="product-sidebar">
                    <!-- Start Single Widget -->
                    <div class="single-widget search">
                        <h3>Search Product</h3>
                        <form action="#">
                            <input type="text" placeholder="Search Here..." value="@ViewBag.CurrentName" id="searchName2">
                            <input type="hidden" name="name" id="name" />
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                        <h3>All Categories</h3>
                        <ul class="list">
                            @foreach (var category in ViewBag.CategoryCounts)
                            {
                                <li>
                                    <a asp-action="Index"
                                        asp-route-name="@ViewBag.CurrentName"
                                        asp-route-Pricefrom="@ViewBag.CurrentPriceFrom"
                                        asp-route-CategoryId="@ViewBag.CurrentCategoryId"
                                        asp-route-sortOrder="@ViewBag.CurrentSortOrder"
                                        asp-route-CategoryIdShow="@category.CategoryId">
                                        @category.CategoryName (@category.Count)
                                    </a>
                                </li>
                            }
                        </ul>


                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget range">
                        <h3>Price Range</h3>
                        <input type="range" class="form-range" name="Pricefrom" step="10" min="0" max="1000" value="@ViewBag.CurrentPriceFrom" onchange="this.form.submit()">
                        <div class="range-inner">
                            <label>$</label>
                            <input type="text" placeholder="0" id="rangePrimary" value="@ViewBag.CurrentPriceFrom">
                        </div>
                    </div>



                    <!-- End Single Widget -->
                </div>
                <!-- End Product Sidebar -->
            </div>
            <div class="col-lg-9 col-12">
                <div class="product-grids-head">
                    <div class="product-grid-topbar">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8 col-12">
                                <div class="product-sorting">
                                    <label for="sorting">Sort by:</label>
                                    <select class="form-control" id="sorting" name="sortOrder" onchange="this.form.submit()">
                                        <!option value="name_asc" @(ViewBag.CurrentSortOrder == "name_asc" ? "selected" : "")>A - Z</!option>
                                        <!option value="name_desc" @(ViewBag.CurrentSortOrder == "name_desc" ? "selected" : "")>Z - A</!option>
                                        <!option value="price_asc" @(ViewBag.CurrentSortOrder == "price_asc" ? "selected" : "")>Low - High Price</!option>
                                        <!option value="price_desc" @(ViewBag.CurrentSortOrder == "price_desc" ? "selected" : "")>High - Low Price</!option>
                                    </select>
                                    <h3 class="total-show-product">Showing: <span>@startItem - @endItem items</span></h3>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-12">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-grid-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-grid" type="button" role="tab"
                                                aria-controls="nav-grid" aria-selected="true">
                                            <i class="lni lni-grid-alt"></i>
                                        </button>
                                        <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-list" type="button" role="tab"
                                                aria-controls="nav-list" aria-selected="false">
                                            <i class="lni lni-list"></i>
                                        </button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                                aria-labelledby="nav-grid-tab">
                            <div class="row">
                                @{
                                    int index = 0; // Khởi tạo chỉ số cho danh sách giá nhỏ nhất
                                }

                                @foreach (var product in pagedProducts)
                                {
                                    if (ViewBag.CategoryIdShow == 0 || product.CategoryId == ViewBag.CategoryIdShow)
                                    {
                                        <div class="col-lg-3 col-md-6 col-12">
                                            <div class="single-product">
                                                <div class="product-image">
                                                    <img src="@Url.Content($"~/images/products/{product.Avatar}")" alt="@product.Name">
                                                    <div class="button">
                                                        <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="btn">
                                                            <i class="lni lni-cart"></i> Add to Cart
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-info">
                                                    <span class="category">@product.Category.Name</span>
                                                    <h4 class="title">
                                                        <a href="@Url.Action("ProductGrids", "Products", new { id = product.Id })">@product.Name</a>
                                                    </h4>
                                                    <ul class="review">
                                                        <li><i class="lni lni-star-filled"></i></li>
                                                        <li><i class="lni lni-star-filled"></i></li>
                                                        <li><i class="lni lni-star-filled"></i></li>
                                                        <li><i class="lni lni-star-filled"></i></li>
                                                        <li><i class="lni lni-star-filled"></i></li>
                                                        <li><span>5.0 Review(s)</span></li>
                                                    </ul>
                                                    <div class="price">
                                                        <span>@ViewBag.MinPrices[index].ToString("C")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        index++;
                                    }
                                    else
                                    {
                                        index++;
                                    }
                                }

                            </div>
                            @Html.PagedListPager(pagedProducts, page => Url.Action("Index", new
                                {
                                    page,
                                    name = ViewBag.CurrentName,
                                    Pricefrom = ViewBag.CurrentPriceFrom,
                                    CategoryId = ViewBag.CurrentCategoryId,
                                    sortOrder = ViewBag.CurrentSortOrder,
                                    CategoryIdShow = ViewBag.CategoryIdShow
                                }), options)
                        </div>
                        <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                            <div class="row">

                                @{
                                    index = 0; // Khởi tạo chỉ số cho danh sách giá nhỏ nhất
                                }

                                @foreach (var product in Model)
                                {
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <!-- Start Single Product -->
                                        <div class="single-product">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4 col-md-4 col-12">
                                                    <div class="product-image">
                                                        <img src="@Url.Content($"~/images/products/{product.Avatar}")" alt="@product.Name">
                                                        <div class="button">
                                                            <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="btn">
                                                                <i class="lni lni-cart"></i> Add to Cart
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-12">
                                                    <div class="product-info">
                                                        <span class="category">@product.Category.Name</span>
                                                        <h4 class="title">
                                                            <a href="@Url.Action("Details", "Products", new { id = product.Id })">@product.Name</a>
                                                        </h4>
                                                        <ul class="review">
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><span>5.0 Review(s)</span></li>
                                                        </ul>
                                                        <div class="price">
                                                            <span>@ViewBag.MinPrices[index].ToString("C")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Single Product -->
                                    </div>
                                }
                                @Html.PagedListPager(pagedProducts, page => Url.Action("Index", new
                                    {
                                        page,
                                        name = ViewBag.CurrentName,
                                        Pricefrom = ViewBag.CurrentPriceFrom,
                                        CategoryId = ViewBag.CurrentCategoryId,
                                        sortOrder = ViewBag.CurrentSortOrder,
                                        CategoryIdShow = ViewBag.CategoryIdShow
                                    }), options)
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- End Product Grids -->